{% extends "./base.html.twig" %}
{% block body %}
    <h1>Bienvenue!!</h1>
    <div>
        <a href="{{ path('program_index') }}">
                Liste des programmes
        </a>
    <div>
    <div>
        <a href="{{ path('category_index') }}">
                Liste des categories
        </a>
    <div>
    <div>
        
    <div>
{% endblock %}